#root {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   padding: 10px;
   background: #c4bfbf;
}
.container {
   max-width: 1100px;
   margin: 0 auto;
}
.test {
   padding: 70px 0 0 0;
   display: flex;
   justify-content: center;
   &__body {
      background: #caeca3;
      padding: 50px;
      border: 1.5px solid #b6b2b2;
      box-shadow: 0px 0px 19px 1px rgba(184,176,176,1);
      flex: 0 1 auto;
      width: 500px;
   }
   &__body > *:not(:last-child) {
      margin: 0 0 20px 0;
   }
   &__indicator {
      background: linear-gradient(90deg, rgba(42,177,144,1) 0%, rgba(168,255,0,1) 100%);
      height: 10px;
      border-radius: 5px;
      width: 100%;
      transition: 0.7s;
   }
   &__title{
      font-size: 40px;
      white-space: nowrap;
   }
   &__variants-body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__variants-item {
      border: 1px solid #a59c9c;
      padding: 10px 5px;
      width: 100%;
      flex: 1 1 auto;
      font-size: 22px;
      cursor: pointer;
      transition: 0.3s;
      --c1: #c4f387;
      --c2: #714486;
      background: linear-gradient(90deg, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;
      &:hover {
         --x: 100%;
      }
   }
   &__variants-body > *:not(:last-child) {
      margin: 0 0 15px 0;
   }
   &__end {
      font-size: 30px;
   }
   &__title-end {
      font-size: 20px;
      line-height: 140%;
      white-space: nowrap;
   }
}
.invite-app {
   padding: 50px 0 0 0;
   display: flex;
   align-items: center;
   justify-content: center;
   &__body {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      height: 600px;
      background: #d1d0d0;
      border-radius: 15px;
      padding: 15px 20px;
   }
   &__input {
      display: flex;
      justify-content: center;
      height: 40px;
      background: #f1f1f1;
      border: 1px solid #c2c2c2;
      border-radius: 10px;
      padding: 5px;
   }
   &__input-field {
      margin: 0 0 0 10px;
      flex: 1 1 auto;
      background: inherit;
      font-size: 20px;
   }
   &__loop {
      width: 20px;
   }
   &__users{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin: 25px 0 0 0;
   }
   &__btn{
      padding: 10px 0px;
      border-radius: 12px;
      background: #c9b715;
      text-align: center;
      transition: 0.3s;
      font-weight: 700;
      &:hover {
         background: #1596c9;
         box-shadow: 0px 0px 19px 1px rgba(184,176,176,1);
      }
   }
   &__user {
      display: flex;
      align-items: center;
   }
   &__user:not(:last-child) {
      margin: 0 0 15px 0;
   }
   &__name-block {
      flex: 1 1 auto;
      margin: 0 0 0 15px;
   }
   &__name-block > *:not(:last-child) {
      margin: 0 0 10px 0;
   }
   &__email {
      color: #a59c9c;
   }
   &__name {
      font-weight: 700;
      font-size: 16px;
   }
   &__add {
      height: 25px;
      cursor: pointer;
   }
   &__img {
      height: 60px;
      border-radius: 50%;
   }
}
.invite__popup {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   inset: 0;
   visibility: hidden;
   opacity: 0;
   background: rgba($color: #000000, $alpha: 0.5);
   transition: 0.5s;
   &-body {
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 400px;
      background: #9d9ea0;
      border-radius: 10px;
   }
   &-body > *:not(:last-child) {
      margin: 0 0 20px 0;
   }
   &-icon {
      max-height: 100px;
      color: #9dbac5;
   }
   &-btn {
      transition: 0.3s;
      --a1: rgba(74,177,42,1);
      --a2: rgba(232,255,0,1);
      padding: 10px;
      border-radius: 12px;
      background: linear-gradient(90deg, var(--a1), var(--a2) 100%, var(--a1)) var(--z, 0) / 200%;
      font-weight: 700;
      color: #062c3b;
      &:hover{
         --z: 100%
      }
   }
   &-title{
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      color: #0f1d02;
      text-align: center;
      span{
         color: rgb(2, 61, 100);
         font-weight: 700;
      }
   }
}
.active {
   visibility: visible;
   opacity: 1;
}
